{% extends '::base.html.twig' %}
{%block content %}
    <div class="error-main">
        <p>La page demandée n'existe pas</p>
        <h3>404</h3>
        <div class="error-btn">
            <a href="{{ path('index') }}">Retour</a>
        </div>
    </div>
{%endblock%}