<!--Erreurs-->
{% if form_errors(form.username) or form_errors(form.email) or form_errors(form.current_password)%}
<div class="col-sm-12">
        <div class = "alert alert-danger">
                <i> Attention! </i>
                <p>{{ form_errors(form) }} </p>
                <p>{{ form_errors(form.username) }} </p>
                <p>{{ form_errors(form.email) }}</p>
                <p>{{ form_errors(form.current_password) }}</p>
        </div>
    </div>
        {% endif %}
<!--./Erreurs-->
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
<div class="col-md-9">

    <!------------------------./Modification----------------->
    <div class="col-md-6 col-sm-offset-3">
        <div class="box-login">
            <p class="lead text-center">Mes coordonnées</p>
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
               
            <div class="form-group">
                {# Pseudo #}
                        {{ form_widget(form.username, { 'attr': {'class': 'input', 'placeholder':"Nom Prenom"} }) }}           
                
                {# Email adress #}
                    {{ form_widget(form.email, { 'attr': {'class': 'input', 'placeholder':"Adresse Email"} }) }}
                
                {# Password #}
                    {{ form_widget(form.current_password, { 'attr': {'class': 'input', 'placeholder':'Mot de passe' } }) }}
                
            </div>
                

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" value=""><i class="fa fa-pencil"></i>{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
                </div>
                  {{ form_rest(form) }}
            </form>
        </div>
    </div>
    <!------------------------./Modification----------------->        
</div>
