<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>

<div class="col-md-9">
    <div class="row">
        <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title"><font>Resumé</font></h3>
              </div>
        <div class="panel-body">
          <div class="col-sm-4">
            <div class="box-shadow">
                <h3 class="panel-title col-sm-offset-2">Mes informations</h3>
                <a href="{{path('fos_user_profile_edit')}}" title="Modifier mon profil" class="pull-right">
                 <i class="fa fa-edit"></i>
              </a>

              <div class="panel-body">
                <i class="fa fa-user"></i> <font class=" titre">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</font><br>
                <i class="fa fa-envelope"></i> <font class=" titre">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</font><br>
                <i class="fa fa-key"> <font class=" titre">*****<a href="{{path('fos_user_change_password')}}">Réinitialiser</a></font></i>
              </div>
              
            </div>
          </div>

          <div class="col-sm-4">
            <div class="box-shadow">
                <h3 class="panel-title col-sm-offset-2">Taux de dons par mois</h3>
                <img width="100%" class="" src="{{asset('http://static.commentcamarche.net/www.commentcamarche.net/faq/images/aRqM3jVY-illus-s-.png')}}">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="box-shadow">
                <h3 class="panel-title col-sm-offset-2">Taux 3</h3>
                <img width="100%" class="" src="{{asset('http://static.commentcamarche.net/www.commentcamarche.net/faq/images/aRqM3jVY-illus-s-.png')}}">
            </div>
          </div>
      </div>
    </div></div>
        
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title col-sm-offset-2"><font><i class="fa fa-home"> </i> Nos coordonnées</font><a href="" class="pull-right" title="Modifier"><i class="fa fa-edit"></i></a></h3>
              </div>
              <div class="panel-body">
                <i class="fa fa-home"> <font class=" titre">25 rue André Mailler, 75000 Paris</font></i><br>
                <i class="fa fa-phone"> <font class=" titre">+33 1 234 567</font></i><br>
                <i class="fa fa-envelope"> <font class=" titre">contact@jeuneguinee.fr</font></i>
              </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title col-sm-offset-2"><font><i class="fa fa-users"> </i> Adhésions</font><a href="" class="pull-right" title="Consulter"><i class="fa fa-hand-pointer-o"></i></a></h3>
              </div>
              <div class="panel-body">
                Contenu du panneau




              </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title col-sm-offset-2"><font><i class="fa fa-envelope-o"> </i> Massages</font><a href="" class="pull-right" title="Consulter"><i class="fa fa-hand-pointer-o"></i></a></h3>
              </div>
              <div class="panel-body">
                Contenu du panneau



              </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title col-sm-offset-2"><font><i class="fa fa-list"> </i> Publications</font><a href="" class="pull-right" title="Consulter"><i class="fa fa-hand-pointer-o"></i></a></h3>
              </div>
              <div class="panel-body">
                Contenu du panneau



              </div>
            </div>
        </div>

    </div>

</div>