<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Organisation des jeunes guinéennes residant à Paris" />
        
        <meta charset="UTF-8" />
        <title>Jeune Guinée
            {% block title %}
                
            {% endblock %}
        </title>
        {% block more %}
                
        {% endblock %}
        {% block js %}
            <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
            <script src="{{asset('js/jquery-1.11.0.min.js')}}"></script>
            <!--Start-smoth-scrolling-->
            <script type="text/javascript" src="{{asset('js/move-top.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/easing.js')}}"></script>
            <script type="text/javascript" src="{{asset('ckeditor/ckeditor.js')}}"></script> 
            <script type="text/javascript">
                jQuery(document).ready(function($){
                    $(".scroll").click(function(event){     
                        event.preventDefault();
                        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                    });
                });
        </script>
        <script src="{{ asset('https://use.fontawesome.com/4b6548ab50.js') }}"></script>
        {% endblock %}
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
            <link href="{{ asset('http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic') }}" rel='stylesheet' type='text/css'>
            <!--Custom-Theme-files-->
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
            <link href="{{ asset('css/custumer.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block header %}
                <!--Header-Starts-Here-->
                <div class="header" id="home">
                    <div class="container">
                        <span class="menu"> </span>
                        <script>
                                $( "span.menu" ).click(function() {
                                  $( "ul.navig" ).slideToggle( "slow", function() {
                                    // Animation complete.
                                  });
                                });
                            </script>
                        <div class="navigation">
                            <ul class="navig">
                                <li class="active"><a href="{{ path('jeunesguinee_default_index') }}">Accueil</a></li>
                                <li><a href="{{ path('qsn') }}">Qui sommes nous</a></li>
                                <li><a href="{{ path('blog') }}">Blog</a></li>
                                <li><a href="{{ path('evenements') }}">Evenements</a></li>
                                <li><a href="{{ path('adhesion') }}">Adhérer</a></li>
                                <li><a href="{{ path('contact') }}">Contact</a></li>
                            </ul>
                        
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!--Header-Ends-Here-->
                <!--logo-Ends-Here-->
                <div class="logo">
                    <div class="container">

                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %}
                            <div class="alert alert-warning alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="alert alert-info alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}

                        <div class="logo-main">
                            <img src="{{ asset('images/logo.png') }}" arc="">
                        </div>
                    </div>
                </div>
                <!--logo-Ends-Here-->
            {% endblock %}
            <div class="container" style="min-height: 300px;">
            {% block content %}
                <!--Contenu du body-->


                <!--./Contenu du body-->
            {% endblock %}
            </div>
            {% block footer %}
             <!--footer-Ends-Here-->
            {% render(controller('JeunesGuineeBundle:Default:footer')) %}
        <!--footer-Ends-Here-->
            {% endblock %}
            
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{asset('ckeditor/ckeditor.js')}}"></script> 
            <!-- facebook like and share -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "{{asset('//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.10')}}";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <!-- End facebook like and share -->
        {% endblock %}
    </body>
</html>
