<div class="footer">
                <div class="container">
                    <div class="footer-main">
                        <div class="col-md-4 footer-left">
                            <h3>Liens Utiles</h3>
                            <ul>
                                <li><a href="{{path('jeunesguinee_default_index')}}">Accueil</a></li>
                                <li><a href="{{path('fos_user_profile_show')}}">Administrateur</a></li>
                                <li><a href="{{path('qsn')}}">A propos de nous</a></li
                                <li><a href="{{path('jeunesguinee_default_showevenements')}}">Evènements</a></li>
                                <li><a href="{{path('jeunesguinee_default_adhesion')}}">Adhérer</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-left">
                            <h3>Suivez-nous</h3>
                            <ul class="follow">
                                <li><a href="#"><span class="fb"> </span></a></li>
                                <li><a href="#"><span class="twit"> </span></a></li>
                            </ul>
                            {% render(controller('JeunesGuineeBundle:Default:newletter')) %}
                            
                        </div>
                        <div class="col-md-4 footer-right">
                            <h3>Adresses</h3>
                            <ul>
                                <li><i class="fa fa-home"> </i> {{coordonee.adresse|raw}}</li>
                                <li><i class="fa fa-phone"> </i> Tel: {{coordonee.telephone}}</li>
                                <li><i class="fa fa-envelope-o"> </i> {{coordonee.email}}</li>
                            </ul>
                        </div>
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="footer-text">
                        <p class="pull-left">Design by<a href="{{ asset('http://w3layouts.com/') }}"> w3layouts</a></p>
                        <p class="pull-right">Develloped by<a href="{{asset('https://www.linkedin.com/in/mamadou-hassimiou-diallo-849b7813b/')}}"> Hasmiou</a> & <a href="">Amirou</a></p>
                    </div>
                </div>
                <a href="#home" id="toTop" class="scroll" style="display: block;"> 
                    <span id="toTopHover" style="opacity: 1;"></span>        
                </a>
            </div>