<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">Liens Utils</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="{{path('evenements')}}"><i class="fa fa-calendar"></i> Nos Evènements</a>
            </li>
            <li >
                <a href="{{path('blog')}}"><i class="fa fa-list"></i> Nos Publications</a>
            </li>
            <li>
                <a href="{{path('qsn')}}"><i class="fa fa-id-badge"></i> Qui sommes nous ?</a>
            </li>
        </ul>
    </div>
</div>