<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">Administrateur</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="{{path('fos_user_profile_show')}}"><i class="fa fa-dashcube"></i> Tableau Bord</a>
            </li>
            <li>
                <a href="{{path('publications_index')}}"><i class="fa fa-list"></i> Publications</a>
            </li>
            <li >
                <a href="{{path('messages_index')}}"><i class="fa fa-envelope-o"></i> Messages<span class = "badge"><font> {{ nbMessage }} </font></span> </a>
            </li>
            <li>
                <a href="{{path('AdminEvenements_index')}}"><i class="fa fa-calendar"></i> Evènements</a>
            </li>
            <li>
                <a href="{{path('membres_index')}}"><i class="fa fa-users"></i> Adhésion 
                    <span class = "badge"><font> {{ nbAdherant }} </font></span>
                </a>
            </li>
            <li>
                <a href="{{ path('slides_index') }}"><i class="fa fa-picture-o"></i> Slide</a>
            </li>
            <li>
                <a href="{{ path('admin_Coordination_index') }}"><i class="fa fa-home"></i> Coordinations & Répr.</a>
            </li>
            <li >
                <a href=""><i class="fa fa-money"></i> Dons</a>
            </li>
            <li>
                <a href=""><i class="fa fa-user"></i> Compte</a>
            </li>
            <li>
                <a href="{{path('fos_user_security_logout')}}"><i class="fa fa-sign-out"></i> Déconnexion</a>
            </li>
        </ul>
    </div>
</div>