{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
{% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Slides list</h1>
        </div>
        <div class="panel-body">
             <a href="{{ path('slides_new') }}">
                    <button class="btn btn-primary">
                      Créer une nouveau Diapo
                    </button>
            </a>        
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Actif</th>
                        <th>Photos</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for slide in slides %}
                    <tr>
                        <td>{{ slide.titre }}</td>
                        <td>{% if slide.actif %}Yes{% else %}No{% endif %}</td>
                        <td>...</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('slides_show', { 'id': slide.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('slides_edit', { 'id': slide.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
       

            <a href="{{ path('slides_new') }}">
                    <button class="btn btn-primary">
                      Créer une nouveau Diapo
                    </button>
            </a> 
        </div>
    </div>
</div>
{% endblock %}
