{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
{% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Nouveau Diapo</h1>
        </div>
        <div class="panel-body">
            <form action="{{ path('slides_new') }}" method="POST" {{ form_enctype(form)}} >
                <div class="row">
                    <div class="col-sm-6">
                                <label>Titre: </label>{{form_widget(form.titre) }}
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h5>Photo-1 <font>"1600px x 900px"</font></h5>
                            </div>
                            <div class="panel-body">
                                <label for="lien_photo1">Publication associée</label>{{ form_widget(form.lien_photo1) }}
                                {{ form_widget(form.photo1) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h5>Photo-2 <font>"1600px x 900px"</font></h5>
                            </div>
                            <div class="panel-body">
                                <label for="lien_photo2">Publication associée</label>{{form_widget(form.lien_photo2) }}
                                {{ form_widget(form.photo2) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h5>Photo-3 <font>"1600px x 900px"</font></h5>
                            </div>
                            <div class="panel-body">
                                <label for="lien_photo3">Publication associée</label>{{form_widget(form.lien_photo3) }}
                                {{ form_widget(form.photo3) }}
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Enregistrer
                </button>
             {{ form_end(form) }}   
            </form>

             </br>
            <div class="panel-footer">
                <a href="{{ path('slides_index') }}">
                    <button class="btn btn-primary">
                         <i class="fa fa-chevron-circle-left"></i>
                    Retour à la liste
                    </button>
                </a>

                <div class="pull-right">    

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

