{% extends 'base.html.twig' %}
{% block more %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
        
{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">    
            <h1>Diapo</h1>
        </div>
        <div class="panel-body">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {%for photo in slide.photos%}
                      <div class="item {% if loop.first %} active {% endif %}">
                        <img src="{{asset('uploads/'~photo)}}" alt="" style="width:100%; height:400px;">
                      </div>
                    {% endfor %}
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Precedent</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Suivant</span>
                </a>
            </div>

            <div class="panel-footer">
                <div class="pull-left">
                    <a href="{{ path('slides_index') }}">
                      <button class="btn btn-primary">
                        <i class="fa fa-chevron-circle-left"></i>
                        Retour à la liste
                      </button>
                    </a>
                </div>
                <div class="pull-right">
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i> Supprimer
                    </button>
                    {{ form_end(delete_form) }}
                </div>
            </div>

        </div>
    </div>
</div>
          
{% endblock %}

