{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h1>Editon de la publication</h1>
        </div>
        <div class="panel-body">
        <form action="{{ path('publications_edit', {'id': publication.id }) }}" method="POST" {{ form_enctype(edit_form)}} >
            <div class="row">
                <div class="col-sm-6">
                            <label>Titre: </label>{{form_widget(edit_form.titre) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                            <label>Contenu: </label> {{form_widget(edit_form.contenu) }}
                </div>
            </div>
        </br>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Image de l'article</h3>
                    </div>
                    <div class="panel-body">
                        {{form_widget(edit_form.image)}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                {% if publication.image is empty %}
                    <div class="alert alert-info"> Pas d'image à afficher pour cette publication</div>
                {% else %}
                    <img src="{{ asset('uploads/'~publication.image.AssetPath) }}" class="img-thumbnail" >
                {% endif %}
                
            </div>
            <div class="clearfix"></div>
            <div>
                <label>Publier: </label> {{form_widget(edit_form.publier)}}
            </div>

            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Enregistrer
            </button>
            {{ form_rest(edit_form) }}
         </form>
         </br>
        <div class="panel-footer">
            <a href="{{ path('publications_index') }}">
                <button class="btn btn-primary">
                     <i class="fa fa-chevron-circle-left"></i>
                Retour à la liste
                </button>
            </a>

            <div class="pull-right">    
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger">
                <i class="fa fa-trash"></i>
                    Supprimer 
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
