{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
{% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Liste Publications</h1>
        </div>
    <div class="panel-body">
     <a href="{{ path('publications_new') }}">
            <button class="btn btn-primary">
              Créer une nouvelle publication
            </button>
    </a>        
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Publier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
                <td>{{ publication.titre }}</td>
                <td> ... </td>
                <td>{% if publication.date %}{{ publication.date|date('d-M-y') }}{% endif %}</td>
                <td>{% if publication.publier %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <a href="{{ path('publications_show', { 'id': publication.id }) }}" alt="Afficher">
                    <i class="fa fa-book"></i></a>
                
                    <a href="{{ path('publications_edit', { 'id': publication.id }) }}" title="Editer">
                    <i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
        <a href="{{ path('publications_new') }}">
            <button class="btn btn-primary">
              Créer une nouvelle publication
            </button>
        </a>       
    </div>
    </div>
</div>
{% endblock %}
