{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
{% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Créer une publication</h1>
        </div>
    <div class="panel-body">
        <form action="{{ path('publications_new') }}" method="POST" {{ form_enctype(form)}} >
            <div class="row">
                <div class="col-sm-6">
                            <label>Titre: </label>{{form_widget(form.titre) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                            <label>Contenu: </label> {{form_widget(form.contenu) }}
                </div>
            </div>
        </br>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Image de l'article</h3>
                    </div>
                    <div class="panel-body">
                        {{form_widget(form.image)}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                {% if publication.image is empty %}
                    <div class="alert alert-info"> Veuillez parcourir et selectionner une photo pour l'article</div>
                {% else %}
                    <img src="{{ asset('uploads/'~publication.image.AssetPath) }}" class="img-thumbnail" >
                {% endif %}
                
            </div>
            <div class="clearfix"></div>
            <div>
                <label>Publier: </label> {{form_widget(form.publier)}}
            </div>

            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Enregistrer
            </button>
            {{ form_rest(form) }}
         </form>
         </br>
        <div class="panel-footer">
            <a href="{{ path('publications_index') }}">
                <button class="btn btn-primary">
                     <i class="fa fa-chevron-circle-left"></i>
                Retour à la liste
                </button>
            </a>

            <div class="pull-right">    

            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
