{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
{% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Publication</h1>
        </div>
        <div class="panel-body">
    <table class="table table-user-information">
        <tbody>
            <tr>
                <th>Titre</th>
                <td> <h3>{{ publication.titre }}</h3></td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    <img src="{{ asset('uploads/'~publication.image.AssetPath) }}" class="img-reponsive" style="width:100px; height:100px;">    
                </td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ publication.contenu |raw }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if publication.date %}{{ publication.date|date('d-M-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Publier</th>
                <td>{% if publication.publier %}Oui{% else %}Non{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <a href="{{ path('publications_index') }}">
            <button class="btn btn-primary">
                <i class="fa fa-chevron-circle-left"></i>
                Retour à la liste
            </button>
        </a>

        <a href="{{ path('publications_edit', { 'id': publication.id }) }}">
            <button class="btn btn-primary">
                <i class="fa fa-edit"></i>
                Editer
            </button>   
        </a>
        <div class="pull-right">    
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash"></i>
                Supprimer 
            </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
</div>        
</div>
{% endblock %}
