{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-sm-12">
        <div class = "alert alert-warning">
            <i>Attention!</i>
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
        </div>
    </div>
{% endblock fos_user_content %}
