{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-sm-12">
        <div class = "alert alert-success">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }} 
                Vous pouvez maintenant passer des commandes et des annonces. Gérer vos informations dans votre <a href="{{path('fos_user_profile_show')}}">espace personnel.</a> </p>
        </div>
    </div>

    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
 
    {% endif %}
    
 {% endblock fos_user_content %}