<!--Erreurs-->
{% if form_errors(form.username) or form_errors(form.email) or form_errors(form.plainPassword.first) or form_errors(form.plainPassword.second)  %}
<div class="col-sm-12">
        <div class = "alert alert-danger">
                <i> Attention! </i>
                <p>{{ form_errors(form) }} </p>
                <p>{{ form_errors(form.username) }} </p>
                <p>{{ form_errors(form.email) }}</p>
                <p>{{ form_errors(form.plainPassword.first) }}</p>
                <p>{{ form_errors(form.plainPassword.second) }}</p>
        </div>
    </div>
        {% endif %}
<!--./Erreurs-->

<!------------------------/Inscription----------------->
<div class="col-sm-6 col-sm-offset-3">
    <div class="box-login">
        <h3 class="text-center">Ajouter - Admin</h3>
        <!-- BEGIN REGISTRATION FORM -->  
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">

            {# Pseudo #}
            {{ form_widget(form.username, { 'attr': {'class': 'input', 'placeholder':"Nom Prenom"} }) }}
            
            {# Email adress #}
            {{ form_widget(form.email, { 'attr': {'class': 'input', 'placeholder':"Adresse Email"} }) }}
                
            {# Password #}
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'input', 'placeholder':'Mot de passe' } }) }}
            
            {# Validation password#}
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'input', 'placeholder':"Confirmation"} }) }}
            

            <div class="text-center">
                <button type="submit" class="btn btn-primary" value=""><i class="fa fa-sign-in"></i> {{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
            </div>

                {{ form_rest(form) }}
            </div>
        </form>
    </div>
</div>
<!------------------------/Inscription----------------->
