<!--Erreurs-->
{% if form_errors(form.current_password) or form_errors(form.new.first) or form_errors(form.new.second)%}
    <div class="col-sm-12">
        <div class = "alert alert-danger">
            <i> Attention! </i>
            <p>{{ form_errors(form) }} </p>
            <p>{{ form_errors(form.current_password) }} </p>
            <p>{{ form_errors(form.new.first) }}</p>
            <p>{{ form_errors(form.new.second) }}</p>
        </div>
    </div>
{%endif%}      
<!--./Erreurs-->
<div class="col-md-3">
    {% include '::includes/col-left.html.twig' %}
</div>
<div class="col-md-9" id="customer-order">
    <!------------------------Information----------------->
    <div class="col-md-6">
        <div class="box">
            <p class="lead">Informations</p>
            <p>Complétez le formulaire en rensignant le nouveau mot de passe et le confirmer, pour réinitialiser votre mot de passe.</p>
            <hr>
            <p class="text-muted">Si vous avez des questions, s'il vous plait <a href="">contactez nous</a>, notre service commercial est à votre disposition 24/7.</p>
        </div>
    </div>
    <!------------------------./Information----------------->
    <!------------------------./Modification----------------->
    <div class="col-md-6">
        <div class="box">
            <p class="lead">Rénitialisation</p>


            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                <div class="form-group">
                {# Pseudo #}
                 <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder':"Mot de passe actuel"} }) }}           
                </div>
                
                {# Email adress #}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    {{ form_widget(form.new.first, { 'attr': {'class': 'form-control', 'placeholder':"Nouveau mot de passe"} }) }}
                </div>
                
                {# Password #}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    {{ form_widget(form.new.second, { 'attr': {'class': 'form-control', 'placeholder':'Confirmation du Mot de passe' } }) }}
                </div>
                
            </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" value=""><i class="fa fa-pencil"></i>{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
    <!------------------------./Modification----------------->        
</div>