{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
<div class="col-md-9">
    <h1>Medias list</h1>

    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for media in medias %}
            <tr>
                <td>{{ media.titre }}</td>
                <td>{{ media.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('medias_show', { 'id': media.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('medias_edit', { 'id': media.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medias_new') }}">Create a new media</a>
        </li>
    </ul>
</div>
{% endblock %}
