{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
<div class="col-md-9">
    <h1>Télécharger un média</h1>
      {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Télécharger" />
      {{ form_end(form) }}
    
            
    <a href="{{ path('medias_index') }}">
        <button class="btn btn-primary">
            Retour à la liste
        </button>
    </a>    
</div>
{% endblock %}
