{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
<div class="col-md-9">
    <h1>Media</h1>

    <table>
        <tbody>
            
            <tr>
                <th>Titre</th>
                <td>{{ media.titre }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ media.path }}</td>
            </tr>
            
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medias_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('medias_edit', { 'id': media.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
