{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Modification Representant</h1>
        </div>  
        <div class="panel-body">
            <form action="{{ path('admin_representants_edit', {'id': representant.id }) }}" method="POST" {{ form_enctype(edit_form)}} >
                <div class="row">
                    <div class="col-sm-6">
                        <label>Coordination: </label>{{form_widget(edit_form.coordinations) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Nom & Prenom: </label>{{form_widget(edit_form.nom) }}
                    </div>
                
                    <div class="col-sm-6">
                        <label>Fonction: </label> {{form_widget(edit_form.fonction) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                                <label>Biographie: </label> {{form_widget(edit_form.biographie) }}
                    </div>
                </div>
                </br>
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Photo de profil</h3>
                        </div>
                        <div class="panel-body">
                            {{form_widget(edit_form.photo)}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    {% if representant.photo is empty %}
                        <div class="alert alert-info"> Veuillez parcourir et selectionner une photo de profil</div>
                    {% else %}
                        <img src="{{ asset('uploads/'~representant.photo.AssetPath) }}" class="img-thumbnail" >
                    {% endif %}
                    
                </div>
              <button  class="btn btn-primary" type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Enregistrer
              </button>
            
            {{ form_end(edit_form) }}
        </form>
    <br>
    <div class="">
        <div class="pull-left">
            <a href="{{ path('admin_Coordination_index') }}">
              <button class="btn btn-primary">
                <i class="fa fa-chevron-circle-left"></i>
                Retour à la liste
              </button>
            </a>
        </div>
        <div class="pull-right">
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-trash"></i> Supprimer
            </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}

