{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Fonction</th>
                <th>Biographie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for representant in representants %}
            <tr>
                <td>{{ representant.nom }}</td>
                <td>{{ representant.fonction }}</td>
                <td>...</td>
                <td>
                    <a href="{{ path('admin_representants_show', { 'id': representant.id }) }}" title="Afficher"><i class="fa fa-book"></i></a>
                    <a href="{{ path('admin_representants_edit', { 'id': representant.id }) }}" title="Editer"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_representants_new') }}">
        <button class="btn btn-primary">
            <i class="fa fa-plus-circle"></i>
            Ajouter un nouveau Representant
        </button>
    </a>
{% endblock %}
