{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Ajouter un Representant</h1>
        </div>
        <div class="panel-body">
        <form action="{{ path('admin_representants_new') }}" method="POST" {{ form_enctype(form)}} >
            <div class="row">
                <div class="col-sm-6">
                    <label>Coordination: </label>{{form_widget(form.coordinations) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Nom & Prenom: </label>{{form_widget(form.nom) }}
                </div>
            
                <div class="col-sm-6">
                    <label>Fonction: </label> {{form_widget(form.fonction) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                            <label>Biographie: </label> {{form_widget(form.biographie) }}
                </div>
            </div>
            </br>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Photo de profil</h3>
                    </div>
                    <div class="panel-body">
                        {{form_widget(form.photo)}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                {% if representant.photo is empty %}
                    <div class="alert alert-info"> Veuillez parcourir et selectionner une photo de profil</div>
                {% else %}
                    <img src="{{ asset('uploads/'~representant.photo.AssetPath) }}" class="img-thumbnail" >
                {% endif %}
                
            </div>
        </div>
        <div class="panel-footer">
            <a href="{{ path('admin_Coordination_index') }}">
                <button  class="btn btn-primary">
                    <i class="fa fa-chevron-circle-left"></i>
                    Retour à la liste</button>
            </a>
            <div class="pull-right">
              <button  class="btn btn-primary" type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Enregistrer
              </button>
              
            </div>
        </div>
        {{ form_end(form) }}
    </form>
 </div>
</div>
</div>
{% endblock %}


