{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">    
            <h1>Representant</h1>
        </div>
        <div class="panel-body">
            <table class="table table-user-information">
                 <tbody>
                    <tr>
                        <th>Photo de profil</th>
                        <td>
                            <img src="{{ asset('uploads/'~representant.photo.AssetPath) }}" class="img-reponsive" style="width:100px; height:100px;">
                        </td>
                    </tr>
                    <tr>
                        <th>Nom - Prenom </th>
                        <td>{{ representant.nom }}</td>
                    </tr>
                    <tr>
                        <th>Fonction</th>
                        <td>{{ representant.fonction }}</td>
                    </tr>
                    <tr>
                        <th>Biographie</th>
                        <td>{{ representant.biographie|raw }}</td>
                    </tr>
                </tbody>
            </table>
        
        <div class="box-footer">
            <div class="pull-left">
                <a href="{{ path('admin_Coordination_index') }}">
                    <button class="btn btn-primary">
                        <i class="fa fa-chevron-circle-left"></i> Retour à la liste 
                    </button>
                </a>

                <a href="{{ path('admin_representants_edit',{ 'id': representant.id }) }}">
                    <button class="btn btn-primary">
                        <i class="fa fa-edit"></i> Editer 
                    </button>
                </a>
            </div>
            <div class="pull-right">
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash"></i> Supprimer
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div></div>
    </div>
</div>
{% endblock %}
