{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
{% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h1>Modifier les informations du membre</h1>
        </div>
        <div class="panel-body">

            <form action="{{ path('membres_edit', {'id': membre.id }) }}" method="POST" {{ form_enctype(edit_form)}} >
        <div class="row">
            <div class="col-sm-6">
                <label>Civilité: </label>{{form_widget(edit_form.civilite) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{form_widget(edit_form.nom) }}
            </div>
            <div class="col-sm-6">
                {{form_widget(edit_form.prenoms) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>Date de naissance: </label>{{form_widget(edit_form.birthday) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{form_widget(edit_form.telephone) }}
            </div>
            
            <div class="col-sm-6">
                {{form_widget(edit_form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{form_widget(edit_form.activite) }}
            </div>
            
            <div class="col-sm-6">
                {{form_widget(edit_form.adresse) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Votre Motivation: </label>{{form_widget(edit_form.motif) }}
            </div>    
        </div><br/>
        <div class="row">
            <div class="col-sm-12"> 
                <p class="slim"> 
                    {{form_widget(edit_form.accordRI) }} «j'approuve avoir lu et j'accepte le <a href="" target="_blank">REGLEMENT INTERIEREUR DE SJG</a> et de m'abonner au newsletter»
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                    <label>Valider l'adhésion</label> {{form_widget(edit_form.valide) }} <font class="slim"> (cocher pour valider)</font>
            </div>
        </div>
        <br>

    <button class="btn btn-primary" type="submit">
        <i class="fa fa-save"></i>
        Enregistrer
    </button>
    {{ form_rest(edit_form) }}
    </form>
      </br>
        <div class="panel-footer">
            <a href="{{ path('membres_index') }}">
                <button class="btn btn-primary">
                     <i class="fa fa-chevron-circle-left"></i>
                Retour à la liste
                </button>
            </a>

            <div class="pull-right">    
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger">
                <i class="fa fa-trash"></i>
                    Supprimer 
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div></div></div></div>
{% endblock %}
