{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
{% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Liste des Membres</h2>
        </div>
 <div class="panel-body">
        <a href="{{ path('membres_new') }}">
            <button class="btn btn-primary">
               Ajouter un nouveau membre
            </button>
        </a>

    {% if membres|length == 0 %}
        <p class="alert alert-info"> Il n'y a aucun membre</p>
    {% else %}
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Civilité</th>
                <th>Nom Prenoms</th>
                <th>D. Naissance</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td>{{ membre.civilite }}</td>
                <td>{{ membre.nom }} {{ membre.prenoms }}</td>
                <td>{% if membre.birthday %}{{ membre.birthday|date('d-m-Y') }}{% endif %}</td>
                <td>{{ membre.email }}</td>
                <td>{{ membre.telephone }}</td>
                <td>
                    <a href="{{ path('membres_show', { 'id': membre.id }) }}" alt="Afficher">
                    <i class="fa fa-book"></i></a>
                
                    <a href="{{ path('membres_edit', { 'id': membre.id }) }}" title="Editer">
                    <i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}

            {% endif %}
        </tbody>
    </table>

        <a href="{{ path('membres_new') }}">
            <button class="btn btn-primary">
              Ajouter un nouveau membre
            </button>
        </a>
    </div>
</div>
</div>
{% endblock %}