{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
{% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Nouveau membre</h1>
        </div>
        <div class="panel-body">

    <form action="{{ path('membres_new') }}" method="POST" {{ form_enctype(form)}} >
        <div class="row">
            <div class="col-sm-6">
                <label>Civilité: </label>{{form_widget(form.civilite) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{form_widget(form.nom) }}
            </div>
            <div class="col-sm-6">
                {{form_widget(form.prenoms) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>Date de naissance: </label>{{form_widget(form.birthday) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{form_widget(form.telephone) }}
            </div>
            
            <div class="col-sm-6">
                {{form_widget(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{form_widget(form.activite) }}
            </div>
            
            <div class="col-sm-6">
                {{form_widget(form.adresse) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Votre Motivation: </label>{{form_widget(form.motif) }}
            </div>    
        </div><br/>
        <div class="row">
            <div class="col-sm-12"> 
                <p class="slim"> 
                    {{form_widget(form.accordRI) }} «j'approuve avoir lu et j'accepte le <a href="" target="_blank">REGLEMENT INTERIEREUR DE SJG</a>»
                </p>
            </div>
        </div><br>

    <button class="btn btn-primary" type="submit">
        <i class="fa fa-save"></i>
        Enregistrer
    </button>
    {{ form_rest(form) }}
    </form>
</br>
    <div class="panel-footer">
        <a href="{{ path('membres_index') }}">
            <button class="btn btn-primary">
                 <i class="fa fa-chevron-circle-left"></i>
            Retour à la liste
            </button>
        </a>

        <div class="pull-right">    

        </div>
    </div>
    
</div>
</div>
</div>
{% endblock %}
