{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
{% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Membre</h1>
        </div>
 <div class="panel-body">

    <table class="table table-user-information">
        <tbody>
            <tr>
                <th>Civilite</th>
                <td>{{ membre.civilite }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ membre.nom }}</td>
            </tr>
            <tr>
                <th>Prenoms</th>
                <td>{{ membre.prenoms }}</td>
            </tr>
            <tr>
                <th>D. Naissance</th>
                <td>{% if membre.birthday %}{{ membre.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ membre.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ membre.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ membre.adresse }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ membre.motif|raw }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ membre.activite }}</td>
            </tr>
            <tr>
                <th>Date d'inscription</th>
                <td>{% if membre.dateInscription %}{{ membre.dateInscription|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Acceptation du RI & Newletter</th>
                <td>{% if membre.accordRI %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Inscription Validée</th>
                <td>{% if membre.valide %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <a href="{{ path('membres_index') }}">
            <button class="btn btn-primary">
                <i class="fa fa-chevron-circle-left"></i>
                Retour à la liste
            </button>
        </a>

        <a href="{{ path('membres_edit', { 'id': membre.id }) }}">
            <button class="btn btn-primary">
                <i class="fa fa-edit"></i>
                Editer
            </button>   
        </a>
        <div class="pull-right">    
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash"></i>
                Supprimer 
            </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
</div>        
</div>
{% endblock %}
