.box-login{
/*border:2px solid #BDBDBD;*/
padding: 10px;
border-radius: 5px;
-webkit-box-shadow: 0px 0px 5px 0px #000;
-moz-box-shadow: 0px 0px 5px 0px #000;
box-shadow: 0px 0px 5px 0px #000;
}

.box-shadow{
-webkit-box-shadow: 0px 0px 5px 0px #000;
-moz-box-shadow: 0px 0px 5px 0px #000;
box-shadow: 0px 0px 5px 0px #000;
}

.titre{
    color: #d14f35;
    font-size: 12px;
    font-weight: 200;
    font-family: Verdana, sans-serif;
    line-height: 1.25em;
    margin: 0;
}

label, th{
    color: #d14f35;
}

td{
	font-size: 12px;
}

.slim{
	font-weight: 100px;
}

.input{
	width: 100%;
	color: #898888;
	outline: none;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding: 18px 16px;
	margin-bottom: 1em;
	border: solid 1px #D5D4D4;
	-webkit-appearance: none;
	letter-spacing: 1px;
	margin: 5px;
}

.logo_small{
	margin: auto;
    width: 45px;
    height: 35px;
}


#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}