{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
{% if error %}
    <div class="col-sm-12">
        <div class = "alert alert-danger">
                <i> Attention! </i>
                <p>{{ error|trans({}, 'FOSUserBundle') }} </p>
        </div>
    </div>
{% endif %}
     <!------------------------Connexion----------------->
    <div class="col-sm-6 col-sm-offset-3">
        <div class="box-login">
            <h3 class="text-center">Connexion - Espace Admin</h3>
            
           <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div>
                    <input class="input" type="text" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" >
                
                    <input class="input" type="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}">
                </div>                    
                   <i class="input-group">
                       <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        Se souvenir de moi!
                    </i>
                <div>                      
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" name="_submit" value=""><i class="fa fa-sign-in"></i> {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                    <a href="{{path('fos_user_registration_register')}}">
                        <button class="btn btn-default">S'inscrire</button>
                    </a>
                </div>
            </form>
            <a href="{{path('fos_user_resetting_request')}}">Mot de passe oublié?</a></br>
        </div>
 </div>
    <!------------------------./Connexion----------------->
{% endblock fos_user_content %}
