{% extends '::base.html.twig' %}

{%block content %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-success col-sm-12">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    <!--<div class="col-md-12">-->
    <div >
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
    <!-- </div>-->
{%endblock%}