{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-sm-12">
        <div class = "alert alert-warning">
            <i>Attention!</i>
            <p>
                {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
            </p>
        </div>
    </div>
{% endblock %}
