{% if invalid_username is defined %}
    <div class="col-sm-12">
        <div class = "alert alert-warning">
            <i>Attention!</i>
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
        </div>
    </div>
{% endif %}
<div class="col-sm-6 col-sm-offset-3">
    <div class="box">
            <p class="lead">Mot de passe oublié</p>
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input class="form-control" type="text" id="username" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}" />
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" value=""><i class="fa fa-sign-in"></i> {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</button>
                </div>
            </form>
       
        </di>
    </div>
</div>