<!--Erreurs-->
{% if form_errors(form.new.first) or form_errors(form.new.second) %}
<div class="col-sm-12">
        <div class = "alert alert-danger">
                <i> Attention! </i>
                <p>{{ form_errors(form) }} </p>
                <p>{{ form_errors(form.new.first) }} </p>
                <p>{{ form_errors(form.new.second) }}</p>
        </div>
    </div>
        {% endif %}
<!--./Erreurs-->
<div class="col-sm-6 col-sm-offset-3">
    <div class="box">
        <p class="lead">Mot de passe oublié</p>
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    {{ form_widget(form.new.first, { 'attr': {'class': 'form-control', 'placeholder':'Mot de passe' } }) }}
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    {{ form_widget(form.new.second, { 'attr': {'class': 'form-control', 'placeholder':"Confirmation"} }) }}
                </div>
            </div>  
            <div class="text-center">
                <button type="submit" class="btn btn-primary" value=""><i class="fa fa-sign-in"></i> {{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
            </div>
             {{ form_rest(form) }}
        </form>

    </div>
</div>
