{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
{% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Messages</h1>
          </div>
    <div class="panel-body">
    
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Expéditaire</th>
                <th>Sujet</th>
                <th>Message</th>
                <th>Date</th>
                <th>Lu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.emailExp }}</td>
                <td>{{ message.sujet }}</td>
                <td>...</td>
                <td>{% if message.date %}{{ message.date|date('d-m-Y') }}{% endif %}</td>
                <td>{% if message.view %}Oui{% else %}<b>Non</b>{% endif %}</td>
                <td>
                    <a href="{{ path('messages_show', { 'id': message.id }) }}" alt="Afficher">
                    <i class="fa fa-book"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
         
    </div>
    </div>
</div>
{% endblock %}
