{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
{% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Message</h1>
        </div>
        <div class="panel-body">
    <table class="table table-user-information">
        <tbody>
            <tr>
                <th>Expéditaire</th>
                <td>{{ message.emailExp }}</td>
            </tr>
            <tr>
                <th>Compte recepteur</th>
                <td>{{ message.emailRec }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ message.sujet }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ message.message }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if message.date %}{{ message.date|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>View</th>
                <td>{% if message.view %}Oui{% else %}Non{% endif %}</td>
            </tr>
        </tbody>
    </table>
   <div class="panel-footer">
        <a href="{{ path('messages_index') }}">
            <button class="btn btn-primary">
                <i class="fa fa-chevron-circle-left"></i>
                Retour à la liste
            </button>
        </a>
    </div>
</div>
</div>        
</div>
{% endblock %}
