{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
    <h1>Modification Coordination </h1>
 </div>  
    <div class="panel-body">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button type="submit" class="btn btn-primary pull-right">
            <i class="fa fa-floppy-o"></i> Enregistrer
        </button>
    
    {{ form_end(edit_form) }}
    <div class="pull-left">
        <div style="float:left">
            <a href="{{ path('admin_Coordination_index') }}">
              <button class="btn btn-primary">
                <i class="fa fa-chevron-circle-left"></i>
                Retour à la liste
              </button>
            </a>
        </div>
    </div>  
    <div class="">
        {{ form_start(delete_form) }}
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash"></i> Supprimer
        </button>
        {{ form_end(delete_form) }}
    </div>
  
</div>
</div>
</div>
{% endblock %}

