{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Coordinations list</h1>
        </div>
<div class="panel-body">  
<a href="{{ path('admin_Coordination_new') }}">
<button class="btn btn-primary">
    <i class="fa fa-plus-circle"></i>
 Ajouter une nouvelle coordination
</button>
</a><br>
    <table class="table table-striped table-hover">

        <thead>
            <tr>
                <th>Appelation</th>
                <th>Description</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coordination in coordinations %}
            <tr>
                <td>{{ coordination.appelation }}</td>
                <td>...</td>
                <td>{{ coordination.telephone }}</td>
                <td>{{ coordination.email }}</td>
                <td>{{ coordination.adresse }}</td>
                <td>
                    <a href="{{ path('admin_Coordination_show', { 'id': coordination.id }) }}" title="Afficher"><i class="fa fa-book"></i></a>
                    <a href="{{ path('admin_Coordination_edit', { 'id': coordination.id }) }}" title="Editer"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_Coordination_new') }}">
        <button class="btn btn-primary">
            <i class="fa fa-plus-circle"></i>
            Ajouter une nouvelle coordination
        </button>
    </a>
</div>
</div>
</div>
{% endblock %}
