{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">    
            <h1>Coordination</h1>
        </div>
        <div class="panel-body">
            <table class="table table-user-information">
                <tbody>
                    <tr>
                        <th>Appelation</th>
                        <td>{{ coordination.appelation }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ coordination.description|raw }}</td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td>{{ coordination.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ coordination.email }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ coordination.adresse }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="box-footer">
                <div class="pull-left">
                    <a href="{{ path('admin_Coordination_index') }}">
                        <button class="btn btn-primary">
                            <i class="fa fa-chevron-circle-left"></i> Retour à la liste 
                        </button>
                    </a>

                    <a href="{{ path('admin_Coordination_edit', { 'id': coordination.id }) }}">
                        <button class="btn btn-primary">
                            <i class="fa fa-edit"></i> Editer 
                        </button>
                    </a>

                </div>
                <div class="pull-right">
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i> Supprimer
                    </button>
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">   
             <h1>Répresentants de cette coordination</h1>
        </div>
        <div class="panel-body">
            {% render(controller('JeunesGuineeBundle:Representants:byCordination',{'id': coordination.id } )) %}
        </div>
    </div>
</div>

{% endblock %}
