{% extends 'base.html.twig' %}

{% block body %}
    <h1>Abonnes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Date</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonne in abonnes %}
            <tr>
                <td><a href="{{ path('abonnes_show', { 'id': abonne.id }) }}">{{ abonne.id }}</a></td>
                <td>{{ abonne.email }}</td>
                <td>{% if abonne.date %}{{ abonne.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if abonne.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('abonnes_show', { 'id': abonne.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('abonnes_edit', { 'id': abonne.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('abonnes_new') }}">Create a new abonne</a>
        </li>
    </ul>
{% endblock %}
