{% extends 'base.html.twig' %}

{% block content %}
	<div class="col-md-9">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	        <h1>Formulaire d'adhésion</h1>
	    </div>
	    <div class="panel-body">

			<form action="{{ path('adhesion') }}" method="POST" {{ form_enctype(form)}} >
		    <div class="row">
		        <div class="col-sm-6">
		            <label>Civilité: </label>{{form_widget(form.civilite) }}
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-sm-6">
		            {{form_widget(form.nom) }}
		        </div>
		        <div class="col-sm-6">
		            {{form_widget(form.prenoms) }}
		        </div>
		    </div>
		    
		    <div class="row">
		        <div class="col-sm-6">
		            {{form_widget(form.telephone) }}
		        </div>
		        
		        <div class="col-sm-6">
		            {{form_widget(form.email) }}
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-sm-6">
		            {{form_widget(form.activite) }}
		        </div>
		        
		        <div class="col-sm-6">
		            {{form_widget(form.adresse) }}
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-sm-12">
		            <label>Votre Motivation: </label>{{form_widget(form.motif) }}
		        </div>    
		    </div><br/>

			<button class="btn btn-primary pull-right" type="submit">
			    <i class="fa fa-paper-plane"></i>
			    Envoyer
			</button>
			{{ form_end(form, {'render_rest': false}) }}
			</form>
		</div>
</div>
	</div>
	<div class="col-md-3">
   		 {% include '::sidebar-right.html.twig' %}
	</div>
{% endblock %}
