{% extends '::base.html.twig' %}
{% block content %}
<div class="contact-main">
				<h3>Où nous trouver!</h3>
				<div class="contact-top">
					<p>
						<h4>Jeunes Guinée</h4>
						Phasellus mollis hendrerit magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tortor ante, fringilla porttitor gravida at, ullamcorper non lacus. Integer rhoncus sem sit amet ante accumsan pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut mollis, sapien in porta tristique, ante tellus sagittis neque, eu vehicula mi lorem a tellus.Morbi sed libero eu est tempor porttitor eu a orci. Aliquam imperdiet est auctor turpis ultricies viverra vitae dictum nibh. Etiam vel augue ipsum.</p>
					<div class="contact-one">
						<div class="col-md-3 contact-left">
							<div class="c-left">
								<span class="adrs"> </span>
							</div>
							<div class="c-right">
								<h5>The Company Name agi,<span>756 gt globel Place.</span></h5>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-md-3 contact-left">
							<div class="c-left">
								<span class="ph"> </span>
							</div>
							<div class="c-right">
							<p>Telephone: +1 234 567 9871
								<span>FAX: +1 234 567 9871</span>
							</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-md-3 contact-left">
							<div class="c-left">
								<span class="mail"> </span>
							</div>
							<div class="c-right">
								<p><a href="mailto:example@email.com">mail@user.com</a></p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="contact-bottom">
					<h3>Nous écrire</h3>
					<div class="contact-text">
						<form action="{{ path('contact') }}" method="POST" {{ form_enctype(form)}} >
							<div class="col-md-6 contact-left-text">
								<!--<input type="text" name="nom" placeholder="Nom - Prenoms" />-->
							
								<!--<input type="text" name="email" placeholder="Email" />-->
								{{ form_widget(form.emailExp) }}
								<!--<input type="text" name="Phone" placeholder="Sujet" />-->
								{{ form_widget(form.sujet) }}
							</div>
							<div class="col-md-6 contact-left-text">
								<!--<textarea name="message" placeholder="Message..."></textarea>-->
								{{form_widget(form.message) }}
							</div>
							<div class="clearfix"></div>
							<div class="contact-but">
								<input type="submit" />
							</div>
							{{ form_rest(form) }}
						</form>
					</div>
				</div>
			</div>
			<div class="clear-both"></div><br>
{% endblock %}