{% extends '::base.html.twig' %}
{% block content %}
	<!--what-starts-Here-->
	<div class="what">
		<div class="container">
			<div class="what-main">
				<h3>Nos Prochains évenements</h3>
				<div class="what-top">

					{% for evenement in evenements %}
					<div class="col-md-3 what-top-left">
						<div class="well well-sm">
							<i class="fa fa-calendar" style="font-height: 140px;"> </i>
							<h4>{{evenement.titre}}</h4>
							<P class="slam">
								<label>Date:</label> <font>{{evenement.dateDebut|date('d-M-Y')}} à {{evenement.heureDebut}}</font><br>
								<label>Lieu: </label><font> {{evenement.lieu}}</font><br>
							{{evenement.description|raw}}
							</P>
						</div>
					</div>
					{% endfor %}
					
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--what-Ends-Here-->

{% endblock %}