{% extends '::base.html.twig' %}
{% block more %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block content %}
<div class="col-sm-9">
	<!--Slide show-->
	<div class="panel">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {%for photo in slide.photos%}
                  <div class="item {% if loop.first %} active {% endif %}">
                    <img src="{{asset('uploads/'~photo)}}" alt="" style="width:100%; height:400px;">
                  </div>
                {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Precedent</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Suivant</span>
            </a>
        </div>
	</div><!--End Slide Show -->
	<div class="cleanfix"></div>
	<div class="row">
		<div class="mission">
			<div class="container panel-body">
				<div class="mission-main">
					<div class="col-sm-4">
						<img src="{{ asset('uploads/'~presentation.image.AssetPath) }}" alt="" class="img-responsive">
					</div>
					<div class="col-sm-4">
						{{presentation.contenu|truncate(650, true, '&nbsp;...')|raw}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!--mission-starts-Here-->
		<div class="mission">
			<div class="container">
				<div class="mission-main">
					<!---for publication -->
				<h2>NOS DERNIERES PUBLICATIONS</h2>
				{% for publication in publications %}
					<div class="col-md-3 what-top-left">
						<div class="well well-sm">
							<img src="{{ asset('uploads/'~publication.image.AssetPath) }}" alt="" class="img-thumbnail" style="height:150px">
							<h4>{{ publication.titre }}</h4>
							<P>{{ publication.contenu|truncate(150, true, '&nbsp;...')|raw }}</P>
							<div class="w-btn">
								<a href="{{path('publication', {'id':publication.id})}}">Lire ...</a>
							</div>
						</div>
					</div>
				{% endfor %}
					<!---Endfor publication -->
				</div>
			</div>
		</div>
	</div>
	<div class="cleanfix"></div>
	<div class="row">
		<div class="col-sm-12">
			<a href="{{path('qsn')}}">
		        <div class="col-lg-4">
		            <div class="card">
		                <i class="fa fa-users" style="font-size:80px; margin-bottom: 5px;"></i>
		                <h3>Nos Coordinations</h3>
		                <p>L'ONG Sénat des Jeunes de Guinée est composées de plusieurs coordination dans le monde, et chacune des coordinations évolue dans le cadre de la défense et l'accompagnement des jeunes dans leurs parcours scolaire et pour l'intégration professionnelle.</p>
		            </div>
	        	</div>
	        </a>
	        <a href="{{path('evenements')}}">
		        <div class="col-lg-4">
		            <div class="card">
		                <i class="fa fa-calendar" style="font-size:80px; margin-bottom: 5px;"></i>
		                <h3>Nos Evenements</h3>
		                <p>Participez à toutes nos activitées et manifestations. Nous vous invitons à prendre connaissance à nos prochains évenements qui sont publiés régulièrement dans ce site et aussi transmis à tous nos abonnés en Newsletter. </p>
		            </div>
	        	</div>
	        </a>
	        <a href="{{path('adhesion')}}">
		        <div class="col-lg-4">
		            <div class="card">
		                <i class="fa fa-id-card-o" style="font-size:80px; margin-bottom: 5px;"></i>
		                <h3>Adhésion</h3>
		                <p>pour faciliter l'adhésion de tout un chancun, vous disposez d'un formulaire de demande d'adhésion dans l'onglet Adhésion de la barre de navigation du site. une fois transmise, vous recevrez une reponse dans les 72h.</p>
		            </div>
	        	</div>
	        </a>
	        
		</div>
	</div>
	<div class="cleanfix"></div>
	<div class="row">
		<!--mission-starts-Here-->
		<div class="panel">	
		<div class="mission">
			<div class="container panel-body">
				<div class="mission-main">
					<!---for publication -->
				<h2>Participez à NOS EVENEMENTS A VENIR</h2>
				{% for event in evenements %}
					<div class="col-md-3 what-top-left">
						<div class="well well-sm">
							<h4>{{ event.titre }}</h4>
							<i class="fa fa-calendar" style="font-size:40px;"></i><br>
							<font><b>{{event.lieu}}</b> à partir de <b>{{event.dateDebut|date('d-M-Y')}}</b>
							<P>{{ event.description|truncate(100, true, '&nbsp;...')|raw }}</P>
							<div class="w-btn">
								<a href="">Lire ...</a>
							</div>
						</div>
					</div>
				{% endfor %}
					<!---Endfor publication -->
				</div>
			</div>
		</div>
		</div>
	</div>

</div>

<!---Side left -->
<div class="col-sm-3">
		<!--Social Links *facebook*	-->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5>Suivez nous sur facebook</h5>
		</div>
		<div class="panel-body">
			<iframe src="{{asset('https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FSJGuinee%2F&width=200&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId')}}" width="200" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		</div>
	</div>
	<!--Social Links *twitter*	-->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5>Twitter</h5>
		</div>
		<div class="panel-body">
			

		</div>
	</div>
	<!--Social Links *Instagram*	-->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5>Instagram</h5>
		</div>
		<div class="panel-body">

		</div>
	</div>
</div>
{% endblock %}