
<form action="{{ path('abonnement') }}" method="POST" {{ form_enctype(form) }} >
	<h3>Newsletter</h3>
	{{ form_widget(form.email) }}
	<!--<input type="email" name="email" class="input" placeholder="Email">-->
	<button type="submit" class="btn btn-primary">S'abonner</button>
	{{ form_rest(form) }}
</form>