{% extends '::base.html.twig' %}
{% block content %}
	<!--what-starts-Here-->
	<div class="what">
		<div class="container">
			<div class="what-main">
				<h3>Nos Publications</h3>
				<div class="what-top">
					{% for publication in publications %}
					<div class="col-md-3 what-top-left" style="">
						<div class="well well-sm">
							<img src="{{ asset('uploads/'~publication.image.AssetPath) }}" alt="" class="img-thumbnail" style="height:150px;">
							<h4>{{publication.titre}}</h4>
							{{publication.contenu|truncate(150, true, '&nbsp;...')|raw}}
							<div class="w-btn">
								<a href="{{ path('publication', { 'id': publication.id }) }}">Lire ...</a>
							</div>
						</div>
					</div>
					{% endfor %}
					
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--what-Ends-Here-->

{% endblock %}