{% extends '::base.html.twig' %}
{% block content %}
<div class="well"> 
        <div class="row">
             <div class="col-md-12">
                 <div class="row hidden-md hidden-lg">
                 	<h1 class="text-center" >{{publication.titre}}</h1>
                 </div>
                     
                 <div class="col-md-12 col-xs-12 thumb-contenido">
                 	<img class="center-block img-responsive" src="{{ asset('uploads/'~publication.image.AssetPath) }}" />
                 </div>
                 <center>
                 	<h1  class="hidden-xs hidden-sm">{{publication.titre}}</h1>
                 	<small>{{publication.date|date('d-M-Y')}}</small>
                 </center>
                 <div class="">
                     <hr><br>
                     <p style="padding-top:10px;" class="text-justify">
                     	{{publication.contenu|raw}}
                     </p>
             </div>
             </div>
        </div>
    </div>	
{% endblock %}