{% extends '::base.html.twig' %}

{% block js %}
	<link rel="stylesheet" href="{{asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')}}">
 	<script src="{{asset('https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')}}"></script>
 	<script src="{{asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')}}"></script>
{% endblock %}

{% block content %}
<!--who-starts-Here-->
<div class="who">
	<div class="container">
		<div class="who-main">
			<h3>Présentation</h3>
			<div class="who-top">
				<div class="col-md-6 who-left">
					<img src="{{ asset('uploads/'~presentation.image.AssetPath) }}" alt="" class="img-responsive">
				</div>
				<div class="col-md-6 who-right">
					{{presentation.contenu|raw}}
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!--who-Ends-Here-->
<!--who-starts-Here-->
<div class="serve">
	<div class="container">
		<div class="serve-main">
			<div class="col-md-6 serve-left">
				<h3>Nos objectifs</h3>
				{{objectif_desc.contenu|raw}}
			</div>
			<div class="col-md-6 serve-right">
				<div class="col-md-6 serve-right-left">
					{{objectif_list.contenu|raw}}
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--who-Ends-Here-->
<!--staff-starts-Here-->
<div class="staff">
	<div class="container">
		<div class="staff-main">
			<h3> Nos coordinations</h3>	
		<section class="  col-xs-12">
			<ul class="nav nav-tabs">
			{% for coord in coordinations %}
			    <li><a data-toggle="tab" href="#{{coord.appelation}}">{{coord.appelation}}</a></li>
			{% endfor %}	
			</ul>

			<div class="tab-content">
				{% for coord in coordinations %}
				<div id="{{coord.appelation}}" class="tab-pane fade">
				  <h4>{{coord.appelation}}</h4>
				  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				  <p><label></label>Tel: {{coord.telephone}}<br>
				  <label></label>Email: {{coord.email}}<br>
				  <label></label>Adresse: {{coord.adresse}}</p>
				</div>
				{% endfor %}
				{% for rep in paris %}
			  	<div class="col-md-2 staff-top-left">
					<img src="{{ asset('uploads/'~rep.photo.AssetPath) }}" alt="" class="img-circle">
					<h4>{{rep.fonction}}: {{rep.nom}}</h4>
					<P>{{rep.biographie|raw}}</P>
				</div>
			    {% endfor %}
			</div>
		</section>
	</div>
</div>
</div>
<!--staff-Ends-Here-->
{% endblock %}

{% block javascripts %}
<script> 
$(document.getElementById('myTab a')).click(function (e) {
  e.preventDefault();
  $(this).tab('show');
});
$('.nav-tabs a:first').tab('show') ;
$('.nav-tabs a').on('shown.bs.tab', function(event){
    var x = $(event.target).text();         // active tab
    var y = $(event.relatedTarget).text();  // previous tab
});
</script>
{% endblock %}