{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Liste des événements</h1>
        </div>
        <div class="panel-body">  
    <a href="{{ path('AdminEvenements_new') }}">
        <button class="btn btn-primary">
            <i class="fa fa-plus-circle"></i>
            Créer un nouvel événement
        </button>
    </a><br>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date début</th>
                <th>Heure début</th>
                
                <th>Lieu</th>
                <th>Publier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <a href="{{ path('AdminEvenements_show', { 'id': evenement.id }) }}">
            <tr {% if evenement.publier %}class="info" {% else %} class="warning"{% endif %}>
                <td>{{ evenement.titre }}</td>
                <td>{% if evenement.dateDebut %}{{ evenement.dateDebut|date('d-m-y') }}{% endif %}</td>
                
                <td>{% if evenement.dateFin %}{{ evenement.heureDebut}}{% endif %}</td>
                
                <td>{{ evenement.lieu }}</td>
                <td>{% if evenement.publier %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <a href="{{ path('AdminEvenements_show', { 'id': evenement.id }) }}" title="Afficher"><i class="fa fa-book"></i></a>
                    <a href="{{ path('AdminEvenements_edit', { 'id': evenement.id }) }}" title="Editer"><i class="fa fa-edit"></i></a>
                </td>
            </tr></a>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('AdminEvenements_new') }}">
                <button class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i>
                    Créer un nouvel événement
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
