{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Création d'événement</h1>
        </div>
    <div class="panel-body">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="panel-footer">
            <a href="{{ path('AdminEvenements_index') }}">
                <button  class="btn btn-primary">
                    <i class="fa fa-chevron-circle-left"></i>
                    Retour à la liste</button>
            </a>
            <div class="pull-right">
              <button  class="btn btn-primary" type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Enregistrer
              </button>
              
            </div>
        </div>
    {{ form_end(form) }}
    </div>
</div>
</div>
{% endblock %}
