{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-3">
    {% render(controller('JeunesGuineeBundle:Default:nav')) %}
</div>
<div class="col-md-9">
    <h1>Evénement</h1>

    <table class="table table-user-information">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Date Début</th>
                <td>{% if evenement.dateDebut %}{{ evenement.dateDebut|date('d-M-Y') }} à {{ evenement.heureDebut}}{% endif %}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{% if evenement.dateFin %}{{ evenement.dateFin|date('d-M-Y') }} à {{ evenement.heureFin}}{% endif %}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ evenement.lieu }}</td>
            </tr>
            <tr>
                <th>Publier</th>
                <td>{% if evenement.publier %}Oui{% else %}Non{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="box-footer">
        <div class="pull-left">
            <a href="{{ path('AdminEvenements_index') }}">
                <button class="btn btn-primary">
                    <i class="fa fa-chevron-circle-left"></i> Retour à la liste 
                </button>
            </a>

            <a href="{{ path('AdminEvenements_edit', { 'id': evenement.id }) }}">
                <button class="btn btn-primary">
                    <i class="fa fa-edit"></i> Editer 
                </button>
            </a>

        </div>
        <div class="pull-right">
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-trash"></i> Supprimer
            </button>
            {{ form_end(delete_form) }}

        </div>
    </div>
</div>
{% endblock %}
